@import "../sass/sass-shared";

.LettersToGuess {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  width: 90%;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.letterBox {
  height: 8rem;
  border-radius: 5px;
  width: 7rem;
  opacity: 0.9;
  float: left;
  color: white;
  text-align: center;
  font-size: 5rem;
  line-height: 8rem;
  text-transform: uppercase;
  background-color: $grey;
  &--empty {
    background-color: $lightGrey;
  }
}
